:root {  /*цвета основных элементов*/
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }

  * {
    margin: 0;
    padding: 0;
  }

  *, *::before,  *::after { /*наследование родителя ко всем элементам до и после */
    box-sizing: inherit;
  }

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
  }
  
  .nav-list {
    display: flex;
    margin-right: 20px;
  }

  .nav-list a {
    display: block;
    font-size: 22px;
    padding: 20px;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /*занимает всю высоту экрана устройства */
    background-color: #000;
    background-image: radial-gradient(#3a3d40 0%, #181719 100%);
  }
  
  .welcome-section > p {
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
  }
  
  .projects-section {
    text-align: center;
    padding: 100px 20px;
    background: var(--main-blue);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 60px auto;
    border-bottom: 2px solid var(--main-white);
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(100% - 70px);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 20px;
    padding: 20px 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 20px;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 20px;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 60px;
  }

  
.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 24px;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 20px;
}

footer i {
  vertical-align: middle;
}
