    body {
        background-color: #a9d7d1;
        text-align: center;
        min-width: 320px;
    }

    #description {
        font-size: 20px;
        font-weight: bold;
        margin: 20px;
    }

    #main {
        background-color: white;
        margin: 0 auto;
        border-radius: 10px;
        width: 80%;
        max-width: 900px;
        padding: 10px 0 10px 0;
    }
  
    .label {
        display: inline-block;
        text-align: right;
        width: 40%;
        padding: 5px;
        vertical-align: top;
        margin-top: 10px;
    }
      
    .rightTab {
        display: inline-block;
        text-align: left;
        width: 48%;
        vertical-align: middle;
    }

    .input-field {
        height: 20px;
        width: 250px;
        padding-left: 5px;
        margin: 10px;
        border: 1px solid grey;
        border-radius: 2px;
    }

    .Rate {
        margin-right: 5px;
    }

    li {
        list-style-type: none; 
    }

    #submit {
        background-color: #59ace0;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        height: 40px;
        width: 100px;
        margin: 10px;
        border: 0px solid;
    }

      .dropdown {
        height: 30px;
        width: 140px;
        padding: 5px;
        margin: 5px;  
        border: 1px solid grey;
        border-radius: 2px;
      }
      
      .radio, .checkbox {
        position: relative;
        left: -45px;
        margin-left: 10px;
        display: block;
        padding-bottom: 10px;
      }

      @media screen and (max-width: 833px) {
        .input-field {
          width: 80%;
        }
        select {
          width: 90%;
        }
      }

      @media screen and (max-width: 520px) {
        .label {
          width: 100%;
          text-align: left;
        }
        .rightTab {
          width: 80%;
          float: left;
        }
        .input-field {
          width: 110%;
        }
        select {
          width: 110%;
        }
      }